{% block box_collapse %}
    <button class="btn btn-{{ type|default('info') }} btn-sm" data-widget="collapse"><i class="fa fa-minus"></i></button>
{% endblock %}
{% block box_remove %}
    <button class="btn btn-{{ type|default('info') }} btn-sm" data-widget="remove"><i class="fa fa-times"></i></button>
{% endblock %}

{% block box_header_buttons %}
    {% if collapse or remove %}
        <div class="box-tools pull-right">
            {% if collapse %}
                {{ block('box_collapse') }}
            {% endif %}
            {% if remove %}
                {{ block('box_remove') }}
            {% endif %}
        </div>
    {% endif %}
{% endblock %}

{% macro box_header(title, collapse, remove, type) %}

    <div class="box-header">
        <h3 class="box-title">{{ title }}</h3>
        {{ block('box_header_buttons') }}
    </div>
{% endmacro %}


{% macro avatar(image, alt, class) %}
    {% if image %}
        <img src="{{ asset(image) }}" class="{{ class|default('img-circle') }}" alt="{{ alt }}" />
    {% else %}
        {% image '@avatar_img' %}
        <img src="{{ asset_url }}" class="{{ class|default('img-circle') }}" alt="{{ alt }}" />
        {% endimage %}
    {% endif %}
{% endmacro %}

{% macro menu_item(item) %}
    <li id="{{ item.identifier }}" class=" {{ item.isActive ? 'active' : '' }} {{ item.hasChildren? 'treeview' : '' }}">
        <a href="{{ item.hasChildren ? '#': '/' in item.route ? item.route : path(item.route, item.routeArgs) }}">
            {% if item.icon %} <i class="{{ item.icon }}"></i> {% endif %}
            <span>{{ item.label }}</span>
            {% if item.badge %}
                <small class="label pull-right bg-{{ item.badgeColor }}">{{ item.badge }}</small>
            {% endif %}
            {% if item.hasChildren %}<i class="fa fa-angle-left pull-right"></i>{% endif %}
        </a>

        {% if item.hasChildren %}
            <ul class="treeview-menu">
                {% for child in item.children %}
                    <li class="{{ child.isActive ? 'active':'' }}" id="{{ child.identifier }}">
                        <a href="{{ '/' in child.route ? child.route : path(child.route, child.routeArgs) }}">
                            <i class="fa fa-circle-o"></i>
                            {{ child.label }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}

{% macro dataTable(data, cols, dataTableTitle) %}

    <div class="box">
        <div class="box-header">
            <h3 class="box-title">{{ dataTableTitle }}</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <div class="dataTables_wrapper form-inline dt-bootstrap">
                <div class="row">
                    <div class="col-sm-6"><div class="dataTables_length" id="example1_length">
                            <label>Mostrar <select name="example1_length" aria-controls="example1" class="form-control input-sm">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select> registros</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div id="example1_filter" class="dataTables_filter">
                            <label>Pesquisar:<input type="search" class="form-control input-sm" placeholder="" aria-controls="example1">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                            <thead>
                            {% for col in cols %}
                                <tr>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="{{ col }}" style="width: 294px;">{{ col }}</th>
                                </tr>
                            {%  endfor %}
                            </thead>
                            <tbody>
                            {% for rows in data %}
                                <tr role="row" class="">
                                    {% for col in cols %}
                                        <td>{{ col }}</td>
                                    {% endfor %}
                                </tr>
                            {%  endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Monstrando 1 de 10 do total de 57 registros</div>
                    </div>
                    <div class="col-sm-7">
                        <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                            <ul class="pagination">
                                <li class="paginate_button previous disabled" id="example1_previous">
                                    <a href="#" aria-controls="example1" data-dt-idx="0" tabindex="0">Anterior</a>
                                </li>
                                <li class="paginate_button active">
                                    <a href="#" aria-controls="example1" data-dt-idx="1" tabindex="0">1</a>
                                </li>
                                <li class="paginate_button ">
                                    <a href="#" aria-controls="example1" data-dt-idx="2" tabindex="0">2</a>
                                </li>
                                <li class="paginate_button ">
                                    <a href="#" aria-controls="example1" data-dt-idx="3" tabindex="0">3</a>
                                </li>
                                <li class="paginate_button ">
                                    <a href="#" aria-controls="example1" data-dt-idx="4" tabindex="0">4</a>
                                </li>
                                <li class="paginate_button ">
                                    <a href="#" aria-controls="example1" data-dt-idx="5" tabindex="0">5</a>
                                </li>
                                <li class="paginate_button ">
                                    <a href="#" aria-controls="example1" data-dt-idx="6" tabindex="0">6</a>
                                </li>
                                <li class="paginate_button next" id="example1_next">
                                    <a href="#" aria-controls="example1" data-dt-idx="7" tabindex="0">Próximo</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.box-body -->
    </div>
{% endmacro %}

{% macro flashMessages() %}
    <div class="row">
        <div class="col-xs-12">
            {% for flashMessage in app.session.flashbag.get('danger') %}
                <div class="col-sm-6 alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> Atenção!</h4>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="col-sm-6 alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4>    <i class="icon fa fa-check"></i> Atenção!</h4>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('info') %}
                <div class="col-sm-6 alert alert-info alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4>    <i class="icon fa fa-check"></i> Atenção!</h4>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('warning') %}
                <div class="col-sm-6 alert alert-warning alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4>    <i class="icon fa fa-check"></i> Atenção!</h4>
                    {{ flashMessage }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}


{% macro menuListBox(meunListBoxClass, meunListBoxTtitle, meunListBoxId, menuItems) %}
    <div class="box box-{{ meunListBoxClass|default('default') }}">
        <div class="box-header with-border">
            <h3 class="box-title">{{ meunListBoxTtitle }}</h3>
            <div class="box-tools pull-right">
                {#<a href="/menu/novo/{{ meunListBoxId|default('#') }}" class="btn btn-box-tool"><i class="glyphicon glyphicon-plus"></i></a>#}
                {#<a href="/menu/{{ meunListBoxId|default('#') }}" class="btn btn-box-tool"><i class="glyphicon glyphicon-edit"></i></a>#}
                <a href="/menu/deletar/{{ meunListBoxId|default('#') }}" class="btn btn-box-tool"><i class="glyphicon glyphicon-remove"></i></a>
                &nbsp;&nbsp;&nbsp;
                <button class="btn btn-box-tool" data-widget="collapse"><i class="glyphicon glyphicon-chevron-down"></i></button>
            </div>
        </div>
        <div class="box-body">
            {% for item in menuItems %}
                {% if item is not empty %}
                <div class="external-event bg-blue ui-draggable ui-draggable-handle" style="position: relative;">
                    {{ item.title|default('Titulo') }}
                    <div class="pull-right" style="color:white !important;">
                        {#<a href="/menu/{{ item.id|default('#') }}" style="color:white !important;">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            <span class="sr-only">Editar</span>
                        </a>&nbsp;&nbsp;#}
                        <a href="/menu/deletar/{{ item.id|default('#') }}" style="color:white !important;">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            <span class="sr-only">Deletar</span>
                        </a>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endmacro %}


{% macro expandableBox(expandableBoxClass, expandableBoxTtitle, content) %}
    <div class="box box-{{ expandableBoxClass }}">
        <div class="box-header with-border">
            <h3 class="box-title">{{ expandableBoxTtitle }}</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
            </div><!-- /.box-tools -->
        </div><!-- /.box-header -->
        <div class="box-body">
            {{ content }}
        </div><!-- /.box-body -->
    </div><!-- /.box -->
{% endmacro %}
{% macro timeline(timelineTitle, timelineEvents, timelineButtonActions) %}
    <ul class="timeline">
        <li class="time-label">
        <span class="bg-red">
            {{  timelineTitle }}
        </span>
        </li>
        {%  for event in timelineEvents %}
            <li>
                <i class="fa {{ event.iconClass }} {{ event.iconBgColorClass }}"></i>
                <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i>event.time</span>
                    <h3 class="timeline-header"><a href="#">{{ event.headerTitle }}</a> {event.headerAction</h3>
                    <div class="timeline-body">
                        {{ event.content }}
                    </div>
                    <div class='timeline-footer'>
                        {%  for buttonAction in timelineButtonActions %}
                            <a class="btn btn-{{ buttonAction.buttonActionClass }} btn-xs" href="{{ buttonAction.href }}" target="{{ buttonAction.target }}">
                                {{ buttonAction.text }}
                            </a>
                        {%  endfor %}
                    </div>
                </div>
            </li>
        {%  endfor %}
    </ul>
{% endmacro %}


{% macro meunListBoxPermissions(meunListBoxClass, meunListBoxTtitle, menuItems) %}
    <div class="box box-{{ meunListBoxClass }}">
        <div class="box-header with-border">
            <h3 class="box-title">{{ meunListBoxTtitle }}</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
            </div>
        </div>
        <div class="box-body">
            {% for item in menuItems %}
                <div class="external-event bg-green ui-draggable ui-draggable-handle" style="position: relative;">
                    {{ item.title }}
                    <a href="/profile/menu/allow/{{ item.id }}">
                        <label class="">
                            <div class="iradio_flat-green checked" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="radio" name="r3" class="flat-red" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>
                        </label>
                    </a>
                    <a href="/profile/menu/deny/{{ item.id }}">
                        <label class="">
                            <div class="iradio_flat-red" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="radio" name="r3" class="flat-red" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>
                        </label>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% macro appButtons(bgColorClass, icoClass, buttonText, buttonUrl) %}
    <a class="btn btn-app bg-{{ bgColorClass }}" href="{{ buttonUrl }}">
        <i class="glyphicon glyphicon-{{ icoClass }}"></i> {{ buttonText }}
    </a>
{% endmacro %}

{% macro input_general(id, name, class, field_type, label, placeholder, minLength, maxLength, mask, required, tooltip) %}
    <div class="form-group {{ class|default('col-xs-12') }}">
        <label for="{{ id }}">{{ label }}</label>
        {% if required is not null %}
            <span class="required" title="Este campo é obrigatório">*</span>
        {% endif %}
        <input type="{{ field_type }}" class="form-control" id="{{ id }}" name="{{ name }}" placeholder="{{ placeholder }}"
            {% if mask is not null %} data-inputmask="'mask': '{{ mask }}'" {% endif %}
            {% if tooltip is not null %} data-toggle="tooltip" data-placement="top" title="{{ tooltip }}" {% endif %}
            {% if field_type == 'text' %}
                {% if maxLength is not null %} maxlength="{{ maxLength }}" {% endif %}
            {% elseif field_type == 'number' %}
                {% if maxLength is not null %} max="{{ maxLength }}" {% endif %}
            {% endif %}
            {% if minLength is not null %} min="{{ minLength }}" {% endif %}
            {% if required is not null %} required {% endif %}
        >
    </div>
{% endmacro %}

{% macro input_text(id, name, class, label, placeholder, maxLength, mask, required, tooltip) %}
    <div class="form-group {{ class|default('col-xs-12') }}">
        <label for="{{ id }}">{{ label }}</label>
        {% if required is not null %}
            <span class="not null" title="Este campo é obrigatório">*</span>
        {% endif %}
        <input type="text" class="form-control" id="{{ id }}" name="{{ name }}" placeholder="{{ placeholder }}"
                {% if mask is not null %} data-inputmask="'mask': '{{ mask }}'" {% endif %}
                {% if tooltip is not null %} data-toggle="tooltip" data-placement="top" title="{{ tooltip }}" {% endif %}
                {% if maxLength is not null %} maxlength="{{ maxLength }}" {% endif %}
                {% if required is not null %} required {% endif %}
                >
    </div>
{% endmacro %}

{% macro input_int(id, name, class, label, placeholder, minLength, maxLength, mask, required, tooltip) %}
    <div class="form-group {{ class|default('col-xs-12') }}">
        <label for="{{ id }}">{{ label }}</label>
        {% if required is not null %}
            <span class="required" title="Este campo é obrigatório">*</span>
        {% endif %}
        <input type="number" class="form-control" id="{{ id }}" name="{{ name }}" placeholder="{{ placeholder }}"
                {% if mask is not null %} data-inputmask="'mask': '{{ mask }}'" {% endif %}
                {% if tooltip is not null %} data-toggle="tooltip" data-placement="top" title="{{ tooltip }}" {% endif %}
                {% if maxLength is not null %} max="{{ maxLength }}" {% endif %}
                {% if minLength is not null %} min="{{ minLength }}" {% endif %}
                {% if required is not null %} required {% endif %}
                >
    </div>
{% endmacro %}

{% macro input_double(id, name, class, label, placeholder, minLength, maxLength, mask, required, tooltip, presicion) %}
    <div class="form-group {{ class|default('col-xs-12') }}">
        <label for="{{ id }}">{{ label }}</label>
        {% if required is not null %}
            <span class="required" title="Este campo é obrigatório">*</span>
        {% endif %}
        <input type="text" class="form-control" id="{{ id }}" name="{{ name }}" placeholder="{{ placeholder }}"
                {% if mask is not null %} data-inputmask="'mask': '{{ mask }}'" {% endif %}
                {% if tooltip is not null %} data-toggle="tooltip" data-placement="top" title="{{ tooltip }}" {% endif %}
                {% if maxLength is not null %} max="{{ maxLength }}" {% endif %}
                {% if minLength is not null %} min="{{ minLength }}" {% endif %}
                {% if required is not null %} required {% endif %}
                >
        <script>
            var timerAutoCompleteDouble;
            $('#{{ id }}').keyup(function(){
                if (timerAutoCompleteDouble){
                    clearTimeout(timerAutoCompleteDouble);
                }
                timerAutoCompleteDouble = setTimeout(function(){
                    var value = parseFloat($('#{{ id }}').val());
                    $('#{{ id }}').val(value.toFixed({{ presicion|default('2') }}));
                    timerAutoCompleteDouble = null;
                },800);
            });
        </script>
    </div>
{% endmacro %}

{% macro input_currency(id, name, class, label, placeholder, minLength, maxLength, mask, required, tooltip) %}
    <div class="form-group {{ class|default('col-xs-12') }}">
        <label for="{{ id }}">{{ label }}</label>
        {% if required is not null %}
            <span class="required" title="Este campo é obrigatório">*</span>
        {% endif %}
        <div class="input-group">
            <span class="input-group-addon">R$</span>
            <input type="text" class="form-control" id="{{ id }}" name="{{ name }}" placeholder="{{ placeholder }}"
                    {% if mask is not null %} data-inputmask="'mask': '{{ mask }}'" {% endif %}
                    {% if tooltip is not null %} data-toggle="tooltip" data-placement="top" title="{{ tooltip }}" {% endif %}
                    {% if maxLength is not null %} max="{{ maxLength }}" {% endif %}
                    {% if minLength is not null %} min="{{ minLength }}" {% endif %}
                    {% if required is not null %} required {% endif %}
                    >
            <script>
                var timerAutoCompleteCurrency;
                $('#{{ id }}').keyup(function(){
                    if (timerAutoCompleteCurrency){
                        clearTimeout(timerAutoCompleteCurrency);
                    }
                    timerAutoCompleteCurrency = setTimeout(function(){
                        var value = parseFloat($('#{{ id }}').val());
                        $('#{{ id }}').val(value.toFixed(2));
                        timerAutoCompleteCurrency = null;
                    },800);
                });
            </script>
        </div>
    </div>
{% endmacro %}


{% macro input_select(id, class, label, empty_text , options, multiple) %}
    <div class="form-group {{ class|default('col-xs-12') }}">
        <label for="{{ id }}">{{ label }}</label>
        <select id="{{ id }}" {% if multiple is not null %}multiple=""{% endif %} class="form-control">
            {% if multiple is null %}
                {% if empty_text is not null %}
                    <option value="">{{ empty_text }}</option>
                {% endif %}
            {% endif %}
            {% for option in options %}
                <option value="{{ option }}">{{ option }}</option>
            {% endfor %}
        </select>
    </div>
{% endmacro %}
{% macro input_ckeckbox(id, class, name, objects) %}
    <div class="form-group {{ class|default('col-xs-12') }}" id="{{ id }}">
        {% for object in objects %}
            <div class="checkbox">
                {#{{ dump(object) }}#}
                <label>
                    <input id="{{ object.id }}" name="{{ name }}" type="checkbox"
                           {% if object.checked == true %}checked=""{% endif %}
                           {% if object.disabled == true %}disabled=""{% endif %}
                            >
                    {{ object.label }}
                </label>
            </div>
        {% endfor %}
    </div>
{% endmacro %}

{% macro input_radio(id, class, name, objects) %}
    <div class="form-group {{ class|default('col-xs-12') }}" id="{{ id }}">
        {% for object in objects %}
            <div class="radio">
                {#{{ dump(object) }}#}
                <label>
                    <input id="{{ object.id }}" name="{{ name }}" type="radio"
                           {% if object.checked == true %}checked=""{% endif %}
                           {% if object.disabled == true %}disabled=""{% endif %}
                            >
                    {{ object.label }}
                </label>
            </div>
        {% endfor %}
    </div>
{% endmacro %}

{% macro input_daterange(id, class, label, required) %}
    <div class="form-group {{ class|default('col-xs-12') }}">
        <label for="{{ id }}">{{ label }}</label>
        {% if required is not null %}
            <span class="required" title="Este campo é obrigatório">*</span>
        {% endif %}
        <div class="input-group">
            <span class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </span>
            <input id="{{ id }}" type="text" class="form-control">
        </div>
        <script>
            $(function(){
                $('#{{ id }}').daterangepicker({
                            format: 'DD-MM-YYYY',
                            ranges: {
                                'Hoje': [moment(), moment()],
                                'Ontem': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                                'Últimos 7 dias': [moment().subtract(6, 'days'), moment()],
                                'Últimos 30 dias': [moment().subtract(29, 'days'), moment()],
                                'Este Mês': [moment().startOf('month'), moment().endOf('month')],
                                'Último Mês': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                            }
                        },
                        function(start, end, label) {
                            //alert("A new date range was chosen: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
                            $('#{{ id }}').val(start.format('DD-MM-YYYY')+' - '+end.format('DD-MM-YYYY'));
                        });
            });
        </script>
    </div>

{% endmacro %}
{% macro input_date(id, class, label, required) %}
    <div class="form-group {{ class|default('col-xs-12') }}">
        <label for="{{ id }}">{{ label }}</label>
        {% if required is not null %}
            <span class="required" title="Este campo é obrigatório">*</span>
        {% endif %}
        <div class="input-group">
            <span class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </span>
            <input id="{{ id }}" type="text" class="form-control">
        </div>
        <script>
            $(function(){
                $('#{{ id }}').daterangepicker({
                            singleDatePicker: true,
                            showDropdowns: true
                        },
                        function(start, end, label) {
                            //alert("A new date range was chosen: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
                            $('#{{ id }}').val(start.format('DD-MM-YYYY'));
                        });
            });
        </script>
    </div>

{% endmacro %}

{% macro inputMask(idClass, options) %}
    <script>
        $(document).ready(function(){
            $("{{ idClass|default(':input')}}").inputmask({{ options|default('')}});
        });
    </script>
{% endmacro %}

{% macro insertFormContainer(form, fields) %}
    <div id="formContainer-{{ form.id }}" class="col-lg-4 col-md-6 col-sm-12">
        <div class="box box-info box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">{{ form.name }}</h3>
                <div class="box-tools pull-right">
                    <span class="glyphicon glyphicon-plus addNewField" data-formId="{{ form.id }}"></span>&nbsp;
                    <span class="glyphicon glyphicon-cog editForm" data-formId="{{ form.id }}"></span>&nbsp;
                    <span class="glyphicon glyphicon-remove text-red deleteForm" data-targetId="{{ form.id }}"></span>
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div><!-- /.box-tools -->
            </div><!-- /.box-header -->
            <div class="box-body fieldContainer" style="display: block;">
                {% import _self as fieldContainer %}
                {% for field in fields %}
                    {{ fieldContainer.insertFiledContainer(field) }}
                {% endfor %}
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
{% endmacro %}

{% macro insertFiledContainer(field) %}
    <div id="fieldContainer-{{ field.id }}" class="callout callout-info">
        <span>{{ field.name }}</span>
        <div class="box-tools pull-right">
            <span class="glyphicon glyphicon-cog editField" data-fieldId="{{ field.id }}"></span>&nbsp;
            <span class="glyphicon glyphicon-remove text-red deleteField" data-targetId="{{ field.id }}"></span>
        </div><!-- /.box-tools -->
    </div>
{% endmacro %}
